@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/grid.scss";
body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.swiper-scrollbar {
  display: none !important;
}
.listing-seting-detail[open] summary div{
  color: red;
}
.comment-detail summary::marker {
  display: none;
}
details summary::-webkit-details-marker {
  display:none;
}
.add-listing-detail[open] summary div .fa-plus{
  display: none;
}
.add-listing-detail[open] summary div .fa-minus{
  display: block;
}
.add-listing-detail[open] summary div span {
  color: #5353c5;
}
#checklisting:checked ~ div > span {
  visibility: visible;
}
#checklisting:checked ~ div {
  visibility: visible;
  background-color: #5353c5;
  border: 1px solid #5353c5;
}
#checklisting ~ div  {
  background: none;
  border: 1px solid #dbdade;
}
.swiper {
  padding-top: 36px !important;
}
.input-teplate-select ~ div {
  display: none;
}
.input-teplate-select:checked ~ div {
  display: block;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

