@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/grid.scss";
body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.swiper-scrollbar {
  display: none !important;
}
.collections-swiper .swiper-button-prev{
  position: absolute;
  top: 0;
  right: 0;
}
.collections-swiper .swiper-button-next{
  position: absolute;
  top: 0;
  right: 5%;
}
